<tr>
    <th scope="row" class="element-infos">
        <%= library.name %><br />
        <span class="light">
            <%= library.version %></span>
        <div class="element-infos__stars">
            <%= library.stars %>&nbsp;<ion-icon name="star"></ion-icon>
        </div>
        <div>
            <a href="./demos/pascal-triangle/<%= library.slug %>" target="_blank">Demo</a>
        </div>
    </th>
    <td class="align-middle">
        <div class="progress">
            <div class="progress-bar bg-1" role="progressbar" style="width: <%= Math.floor((library.size / pascal.max.size) * 100)%>%">
                <%= library.size %>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="progress">
            <div class="progress-bar bg-2" role="progressbar" style="width: <%= Math.floor((library.load / pascal.max.load) * 100)%>%">
                <%= library.load %>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="progress">
            <div class="progress-bar bg-3" role="progressbar" style="width: <%= Math.floor((library.tti / pascal.max.tti) * 100)%>%">
                <%= library.tti %>
            </div>
        </div>
    </td>
</tr>