<tr>
    <th scope="row" class="element-infos">
        <%= library.name %><br />
        <span class="light">
            <%= library.version %></span>
        <div class="element-infos__stars">
            <%= library.stars %>&nbsp;<ion-icon name="star"></ion-icon>
        </div>
    </th>
    <td class="align-middle">
        <div class="progress">
            <div class="progress-bar bg-1" role="progressbar" style="width: <%= Math.floor((library.size / todo.max.size) * 100)%>%">
                <%= library.size %>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="progress">
            <div class="progress-bar bg-2" role="progressbar" style="width: <%= Math.floor((library.load / todo.max.load) * 100)%>%">
                <%= library.load %>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="progress">
            <div class="progress-bar bg-3" role="progressbar" style="width: <%= Math.floor((library.tti / todo.max.tti) * 100)%>%">
                <%= library.tti %>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="progress">
            <div class="progress-bar bg-4" role="progressbar" style="width: <%= Math.floor((library.create / todo.max.create) * 100)%>%">
                <%= library.create %>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="progress">
            <div class="progress-bar bg-5" role="progressbar" style="width: <%= Math.floor((library.delete / todo.max.delete) * 100)%>%">
                <%= library.delete %>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="progress">
            <div class="progress-bar bg-6" role="progressbar" style="width: <%= Math.floor((library.edit / todo.max.edit) * 100)%>%">
                <%= library.edit %>
            </div>
        </div>
    </td>
</tr>